# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.dist-info/

# Envs
.venv/
.env/
.conda/

# Build
build/
dist/
*.whl

# Tools / caches
.pytest_cache/
.ipynb_checkpoints/
.mypy_cache/

# Data/artifacts (desconsidere outputs)
*.npz

# OS/IDE
.DS_Store
.vscode/
